@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #192634;
  --gold: #cdb091;
  --font-playfair-display: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-playfair-display);
}
